<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Greetings GitStats Team!</h1>
    <br/>
    <h4>For the Web Team:</h4>

    <form action="/web" method="GET">
        <label>What's this for?</label>
        <p>The DS team wanted to make it easy for the web team to access endpoints, <br/>
        so we created this flask app to do just that. Click on the button below to begin!</p>
        <button>Do it.</button>
    </form>

    <br/>

    <h4>For the DS Team:</h4>

    <form action="/ds" method="GET">
        <label>What's this for?</label>
        <p>Check out some JSON responses and databases on the DS page.</p>
        <button>Do it.</button>
    </form>

</body>
</html>