<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
</head>
<body>
    <h1>Greetings Web Team!</h1>
    <p>Enjoy the various endpoints by clicking on the button below.</p>
    <br/>
    
    <h4>Plotly Tester Chart</h4>
    <form action="/web/kubernetes_test" method="GET">
        <p>The kubernetes/kubernetes repository <i>Commits Created_at</i> chart:
            <button>Get Chart</button>
        </p>
    </form>
    <br/>
    <h4>More to come</h4>
    <form action="/web/kubernetes_test" method="GET">
        <p>Working on it...
            <button>Get Something</button>
        </p>
    </form>

</body>
</html>
