<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Greetings DS Team!</h1>

    <h2>Top 100 Github Repos Database</h2>

    <h4>Builder: Add more repos to the database</h4>

    <form action="/repos/add" method="POST">
        <label>Add a repository to the database:</label>
        <p>For example: if the link is "https://github.com/kubernetes/kubernetes" <br/>
        then you would pass in "kubernetes/kubernetes". In Github terms, the order <br/>
        is "username/repository".</nav></p>
        <input type="text" name="repo" placeholder="Repo XYZ" value="Repo XYZ">
        
        <button>Submit</button>
    </form>

    <br/>
    
    <h4>Get JSON response of any Github repository:</h4>

    <form action="/repos/commits" method="POST">
        <label>Get commit response in JSON:</label>
        <input type="text" name="repo_commits" placeholder="..." value="username/repository">
    
        <button>Submit</button>
    </form>

</body>
</html>